@import 'src/assets/scss/partials/variables';

.stepper-container {
    padding: 15px;

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }
}

.child-stepper {
    padding: 15px 0;
    border: none;

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }
}