@import 'src/assets/scss/partials/variables';

.stepper-container {
    padding: 15px;
    border: 1px solid $border-color-1;
    border-radius: 4px;

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }
}

.child-stepper {
    padding: 15px 0;
    border: none;

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }
}