<div class="main-container main" *ngIf="courses$ | async as courses">
  <ng-container *ngIf="isSearching">
    <div class="top-section">
      <div class="top-section-heading">
        <h1>{{ courses.length }} results for “{{ params }}”</h1>
      </div>

      <div class="primary-left-part-2 position-relative top-section-searchbar">
        <div>
          <form
            [formGroup]="searchForm"
            class="d-flex flex-lg-row flex-column align-item-center"
          >
            <div class="inputbar d-flex align-items-center">
              <img [src]="'images/search.svg' | mediaBucket" />
              <input
                type="search"
                formControlName="search_course"
                placeholder="Search Products"
                (keyup)="searchCourses()"
              />
            </div>

            <div class="d-flex">
              <div class="inputbar d-flex align-items-center">
                <img [src]="'images/pin_drop.svg' | mediaBucket" />
                <input
                  type="search"
                  formControlName="search_location"
                  placeholder="City, state or zip code"
                />
              </div>

              <button
                type="submit"
                class="active-lg-device"
                (click)="getCourses()"
              >
                Search
              </button>

              <button
                type="submit"
                class="active-sm-device"
                (click)="getCourses()"
              >
                <img [src]="'images/right-arrow.svg' | mediaBucket" />
              </button>
            </div>
          </form>
        </div>

        <ng-container *ngIf="search_course.value">
          <div
            class="mega-menu position-absolute"
            [ngClass]="{ 'position-top': search_course.value }"
            #megaMenu
          >
            <ng-container
              *ngIf="searchedCourseNames$ | async as searchedCourseNames"
            >
              <ng-container *ngIf="searchedCourseNames.length; else noCourses">
                <ul class="d-flex flex-column">
                  <li *ngFor="let searchedCourseName of searchedCourseNames">
                    <a
                      class="d-flex"
                      (click)="patchCourseToSearch(searchedCourseName)"
                    >
                      <div>
                        <img
                          src="https://assets.hyperinvento.com/www_learnim_com/assets/learnim-assets/images/search.svg"
                        />
                      </div>
                      <div>{{ searchedCourseName }}</div>
                    </a>
                  </li>
                </ul>
              </ng-container>
            </ng-container>
            <ng-template #noCourses>
              <ul class="d-flex flex-column">
                No courses
              </ul>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let course of courses">
    <div class="course-list-section">
      <a [routerLink]="['/courses/' + course.id]">
        <div class="row">
          <div class="col-md-4 col-3 course-list-img">
            <img [src]="'images/course-trial.png' | mediaBucket" />
          </div>
          <div
            class="col-md-8 col-9 d-flex flex-md-row flex-column justify-content-between"
          >
            <div class="d-flex flex-column course-list-details">
              <h5 class="course-provider">{{ course.institute.name }}</h5>
              <h3 class="course-name">
                {{ course.title }} : {{ course.institute.description }}
              </h3>
              <p class="course-content">
                {{ course.description }}
              </p>
              <!-- <div class="d-flex flex-md-column flex-wrap">
                <span class="course-guide">Vikrant Meheta</span>
                <span class="course-duration d-flex align-items-center"
                  ><img src="./images/course-list-clock-icon.svg" alt="" /> 4
                  hours</span
                >
                <span class="course-location d-flex align-items-center"
                  ><img src="./images/course-list-location-icon.svg" alt="" />
                  Bangalore</span
                >
              </div> -->
            </div>
            <div>
              <div class="cost-badge">
                <span>₹ 2699</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <hr />
  </ng-container>
</div>
