<div class="registration-section">
  <div class="main-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-4 m-auto">
        <div class="form-heading">
          <h2>Sign Up</h2>
          <p class="form-caption">
            Get started with an account in Learn.Imaginext
          </p>
        </div>
        <form [formGroup]="registrationForm">
          <app-input
            [label]="'Name'"
            [control]="registrationForm.get('user_name')"
            [errorMessages]="{ required: 'Name is required' }"
          >
          </app-input>
          <app-input
            [label]="'Email'"
            [control]="registrationForm.get('email')"
            [errorMessages]="{
              required: 'Email is required',
              email: 'Enter a valid email address.'
            }"
          >
          </app-input>
          <app-input
            [label]="'Contact'"
            [control]="registrationForm.get('mobile_number')"
            [errorMessages]="{
              required: 'Mobile Number Required',
              phone: 'Invalid Phone number',
              pattern: 'Invalid number, Only 10 digits allowed'
            }"
          >
          </app-input>

          <app-input
            [type]="'password'"
            [label]="'Password'"
            [control]="registrationForm.get('password')"
            [errorMessages]="{
              required: 'Password is required',
              password: 'Enter a valid password.'
            }"
          >
          </app-input>
          <div class="row">
            <div class="col-12 p-0 mt-30">
              <app-button-lg (buttonClicked)="register()">Verify</app-button-lg>

              <fieldset class="term-section">
                <!-- TODO company name -->
                <p>
                  By signing up, you’re agreeing to our
                  <a class="terms-link" target="_blank">Terms & Conditions</a>
                  and
                  <a class="terms-link" target="_blank">Privacy Policy</a>
                </p>
              </fieldset>
            </div>
          </div>
        </form>
        <div class="login-container">
          <p>
            Already have an account?
            <a class="resend-link" [routerLink]="['../login']">Log in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
