<div class="registration-section">
  <form [formGroup]="registrationForm">
    <app-input
      [type]="'text'"
      [label]="'Name'"
      [control]="registrationForm.get('user_name')"
      [errorMessages]="{ required: 'Name is required' }"
    >
    </app-input>
    <app-input
      [type]="'text'"
      [label]="'Email'"
      [control]="registrationForm.get('email')"
      [errorMessages]="{
        required: 'Email is required',
        email: 'Enter a valid email address.'
      }"
    >
    </app-input>
    <app-input
      [type]="'password'"
      [label]="'Password'"
      [control]="registrationForm.get('password')"
      [errorMessages]="{
        required: 'Password is required',
        password: 'Enter a valid password.'
      }"
    >
    </app-input>
  </form>
</div>
