.login-section {
    margin: 40px auto 40px;
    padding: 20px;


    .form-header {
        .left-arrow-icon {
            margin: 0 12px 40px 0;
            cursor: pointer;
            width: 19px;
            height: 19px;
        }
    }

}