.login-section {
    margin: 40px auto 40px;
    padding: 20px;


    .form-heading {
        h2 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
        }

        p {
            margin: 0 0 30px;
            font-weight: 400;
            letter-spacing: -0.1px;
            font-size: 0.875rem;
        }

    }

}