<ng-container *ngIf="bookedCourses$ | async as bookedCourses">
  <div class="main-container">
    <div class="my-profile-body">
      <ng-container *ngIf="bookedCourses.length; else notBooked">
        <div class="row bs-gutter-x">
          <div
            class="col-sm-6 col-lg-4 col-pad card-container"
            *ngFor="let bookedCourse of bookedCourses"
          >
            <div class="card-img position-relative">
              <div class="kebab-menu">
                <div
                  (click)="openKebabMenu()"
                  class="kebab-menu-icon position-absolute d-flex justify-content-center align-items-center"
                >
                  <img [src]="'images/kebab-menu.svg' | mediaBucket" />
                </div>

                <div
                  class="position-absolute kebab-menu-view"
                  *ngIf="isKebabMenuClicked"
                >
                  <ul class="d-flex flex-column">
                    <li>
                      <img
                        [src]="'images/reschedule-icon.svg' | mediaBucket"
                      />Reschedule
                    </li>
                    <li>
                      <img
                        [src]="'images/cancel-booking-icon.svg' | mediaBucket"
                      />Cancel Booking
                    </li>
                  </ul>
                </div>
              </div>
              <img [src]="'images/course-trial.png' | mediaBucket" />
            </div>
            <div class="card-content d-flex flex-column">
              <div class="course-provider">
                <h4>{{ bookedCourse.title }}</h4>
              </div>

              <div class="course-name">
                <h2>
                  {{ bookedCourse.institute_name }} : Getting started with Canon
                  photography
                </h2>
              </div>

              <div class="course-period d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    [src]="'images/calendar-icon.svg' | mediaBucket"
                  /><span>{{ bookedCourse.booked_slot.slot_date }}</span>
                </div>
                <div class="d-flex align-items-center">
                  <img [src]="'images/clock-icon.svg' | mediaBucket" /><span
                    >{{ bookedCourse.booked_slot.start_time | meridiem }}
                    -
                    {{ bookedCourse.booked_slot.end_time | meridiem }}</span
                  >
                </div>
              </div>

              <!-- For confirmed status -->
              <ng-container
                *ngIf="bookedCourse.booking_status === BookStatus.PENDING"
              >
                <div
                  class="course-status d-flex justify-content-between align-items-center"
                  [ngClass]="{
                    'status-warning':
                      bookedCourse.booking_status === BookStatus.PENDING
                  }"
                >
                  <img [src]="'images/warning-icon.svg' | mediaBucket" />
                  <p>
                    Your booking is not yet confirmed. Please wait for
                    confirmation.
                  </p>
                </div>
              </ng-container>

              <!-- For pending status -->
              <ng-container
                *ngIf="bookedCourse.booking_status === BookStatus.CONFIRMED"
              >
                <div
                  class="course-status d-flex justify-content-between align-items-center"
                  [ngClass]="{
                    'status-success':
                      bookedCourse.booking_status === BookStatus.CONFIRMED
                  }"
                >
                  <img [src]="'images/success-icon.svg' | mediaBucket" />
                  <p>
                    Your reservation has been accepted. You can now enjoy your
                    course.
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #notBooked> Please book a course. </ng-template>
