<div class="main-container">
  <div class="forgot-password container">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2 m-auto"
      >
        <app-input
          [label]="'Email'"
          [control]="login_credential"
          [errorMessages]="{
            required: 'Email required',
            email: 'Enter a valid email address.'
          }"
        >
        </app-input>
      </div>
    </div>
  </div>
</div>
