<div class="main-container">
  <header
    class="d-flex align-items-center justify-content-between"
    [ngClass]="{ 'fixed-header': isScrolled }"
    #header
  >
    <div class="hamburger">
      <img [src]="'images/hamburger.svg' | mediaBucket" />
    </div>
    <div class="logo">
      <h1 class="d-flex">
        <a routerLink="/"
          >Learn.<span>I<span>M</span></span></a
        >
      </h1>
    </div>
    <div class="header-btns d-flex">
      <ng-container *ngIf="user$ | async">
        <div class="d-flex">
          <button
            class="d-flex justify-content-center align-items-center"
            routerLink="/profile"
          >
            <img [src]="'images/account.svg' | mediaBucket" />
          </button>
          <button class="d-flex justify-content-center align-items-center">
            <img [src]="'images/notification.svg' | mediaBucket" />
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!(user$ | async)">
        <button class="sign-in" (click)="navigateToSignIn()">Sign In</button>
      </ng-container>
    </div>
  </header>
</div>
