<div
  class="input-wrapper"
  [ngClass]="{
    'error-state': control?.invalid && (control?.dirty || control?.touched)
  }"
>
  <!-- label -->
  <label *ngIf="label"
    >{{ label
    }}<span *ngIf="required" aria-hidden="true" class="asterisk"> *</span>
  </label>

  <!-- text input -->
  <div class="input-container">
    <input
      [type]="type ? type : 'text'"
      [attr.autocomplete]="isNewPassword ? 'new-password' : ''"
      [placeholder]="placeholder ? placeholder : ''"
      [formControl]="control"
      [class.password-input-padding]="isPasswordInput"
    />

    <img
      *ngIf="type === 'password' || maskedPassword"
      [src]="maskedPassword ? IMAGE_URLS.closedEye : IMAGE_URLS.openEye"
      class="eye-icon"
      (click)="togglePasswordView()"
      [class.eye-icon-placement]="isPasswordInput"
    />

    <!-- password info -->
    <!-- <img
      src="https://assets.hyperinvento.com/www_imaginext_com/assets/imaginext-assets/images/info-circle-grey.svg"
      *ngIf="passwordInfo"
      class="password-info-icon"
      (click)="infoToggle$.next()"
    /> -->
  </div>

  <!-- error message -->
  <div
    class="error-msg d-flex align-items-center"
    *ngIf="control?.invalid && (control?.dirty || control?.touched)"
  >
    <p>{{ errorMessage }}</p>

    <!-- <img
      src="https://assets.hyperinvento.com/www_imaginext_com/assets/imaginext-assets/images/info-circle-danger.svg"
      *ngIf="passwordInfo"
      class="error-password-info-icon"
      (click)="infoToggle$.next()"
    /> -->
  </div>
</div>
