@import 'src/assets/scss/partials/variables';
@import 'src/assets/scss/partials/animations';

.button-wrapper {
    %fonts {
        font-family: $gotham-light;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 45px;
    }

    %theme {
        background-color: $background-1;
        color: $border-color-3;
    }

    %spacing {
        padding: 0 2px;
        height: 50px;
        width: 100%;
        min-width: 120px;
    }

    %border {
        border: 2px solid transparent;
        border-radius: 4px;
    }

    %extra-styling {
        display: block;
        text-align: center;
        text-decoration: none;
        outline: none;
        transition: 0.2s;
    }

    button {
        @extend %fonts;
        @extend %theme;
        @extend %spacing;
        @extend %border;
        @extend %extra-styling;
        @extend %hover-transition-shared;
        z-index: 200 !important;

        &:active {
            transform: scale(0.98);
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .btn-disabled {
        opacity: 0.5 !important;
    }

    .secondary-btn-style {
        background-color: $background-1;
        color: $color-5;
    }
}