<div class="main-container">
  <div class="login-section container">
    <form [formGroup]="loginForm">
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2 m-auto"
        >
          <div class="login-card">
            <div class="login-card-title">
              <img
                [routerLink]="['../login-otp']"
                [queryParamsHandling]="'preserve'"
                [src]="IMAGE_URLS.arrowLeftIcon"
                class="left-arrow-icon"
              />
            </div>

            <div class="form-heading">
              <h2>Let's Sign You In.</h2>
              <p>Welcome Back</p>
            </div>

            <app-input
              [type]="'text'"
              [label]="'Email'"
              [control]="loginForm.get('login_credential')"
              [errorMessages]="{
                required: 'Email is required',
                email: 'Enter a valid email address'
              }"
            ></app-input>
            <app-input
              type="password"
              label="Password"
              [control]="loginForm.get('password')"
              [errorMessages]="{
                required: 'Password is required',
                password: 'Enter a valid password.'
              }"
            ></app-input>
            <div class="forgot-password">
              <a class="terms-link" [routerLink]="['../forgot-password']"
                >Forgot Password?</a
              >
            </div>

            <div class="row">
              <div class="col-12 p-0 mt-30">
                <app-button-lg (buttonClicked)="login()" [loading]="false"
                  >Login</app-button-lg
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 m-auto">
      <hr />
    </div>
  </div>
</div>
