@import 'src/assets/scss/partials/variables';

.login-section {
    margin: 40px auto 40px;
    padding: 20px;

    .login-card {
        padding: 20px;
        // background: $background-9;
        position: relative;

        .login-card-title {
            display: flex;
            align-items: center;

            .left-arrow-icon {
                margin: 0 12px 40px 0;
                cursor: pointer;
                width: 19px;
                height: 19px;
            }

            .form-heading {
                h2 {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 41px;
                }
            }
        }

        p {
            margin: 0 0 14px;
            font-weight: 400;
            letter-spacing: -0.1px;
            font-size: 0.875rem;
        }

        .form-link {
            cursor: pointer;
            font-size: 0.875rem;
            color: $color-2;
            display: block;
            margin: 10px 0px 0px;
            // @extend %hover-transition-shared;
        }

        .form-link:hover {
            color: $color-1;
        }

        .checkbox-title {
            font-weight: 400;
            letter-spacing: -0.1px;
            font-size: 0.875rem;
            margin: 0;
        }
    }
}

// .login-section>form>.row {
//     border: 1px solid #ccc;
//     border-radius: 4px;
// }