@import 'src/assets/scss/partials/variables';

// .course-trial {
//     padding: 40px 50px;
//     background-color: $bg-gray-color;
// }

.course-trial .card-img {
    border: 1px solid $img-border-clr;
}

.course-trial .card-img img {
    width: 100%;
    height: 100%;
}

.course-trial .card-content {
    padding: 15px 0;
}

.course-trial .card-content h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120.2%;
    color: $light-black;
}

.course-trial .card-content {
    font-size: 1rem;
    font-weight: 400;
    color: $light-black;
    line-height: 23px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}

.course-trial .course-guide,
.course-trial .course-status {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 120.2%;
    color: $cousre-guide-status-color;
}

.cost-badge {
    width: 114px;
    height: 45px;
    background-color: $light-red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120.2%;
    color: $red;
}


.course-trial div:first-child>div h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $georgia;
    margin-bottom: 15px;
}

.course-trial div:first-child>div h1 span {
    color: $red;
    font-family: $georgia;
}

.course-trial div:first-child>p {
    font-size: 1rem;
    margin: 0 0 50px 0;
}

.col-split {
    flex: 0 0 auto;
    width: 30%;
}

h1 {
    margin: 0px;
}


@media only screen and (min-width:769px) and (max-width:1230px) {
    .col-split {
        flex: 0 0 auto;
        width: 40%;
    }
}


@media only screen and (min-width:1px) and (max-width:768px) {

    .course-trial div:first-child>div h1 {
        font-weight: 700;
        font-size: 1.563rem;
        line-height: 107%;
        color: $light-black;
    }

    .course-trial div:first-child>p {
        display: none;
    }

    .col-6 {
        padding: 0 7px;
    }

    .course-trial .card-content h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 0.938rem;
        line-height: 120%;
        color: $light-black;
    }

    .course-trial .course-guide,
    .course-trial .course-status {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 120%;

    }

    .course-trial .card-container .cost-badge {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 120%;
        width: 76px;
        height: 35px;
    }

    .course-trial .card-content {
        row-gap: 10px;
    }

    .card-body h5 {
        font-size: 0.875rem;
    }

    .course-trial div:first-child p {
        font-size: 0.75rem;
    }

    .card-body h5 {
        font-size: 0.875rem;
    }

    .course-trial div:first-child p {
        font-size: 0.75rem;
    }

    .course-trial div:first-child h1 {
        font-size: 1.563rem;
    }

    .col-split {
        flex: 0 0 auto;
        width: 50%;
    }

}