<div class="course-trial">
  <div class="card-container">
    <div class="card-img">
      <img [src]="'images/course-trial.png' | mediaBucket" />
    </div>
    <div class="card-content">
      <h5>{{ course.title }} :{{ course.description }}</h5>
      <div class="course-guide">
        <span>{{ course.institute.name }}</span>
      </div>
      <!-- <div class="course-status">
        <span>{{ course.course_mode }}</span>
      </div> -->
      <div class="cost-badge">
        <span>₹ {{ course.price }}</span>
      </div>
    </div>
  </div>
</div>
