// margin top
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

// margin right

.mr-8 {
    margin-right: 8px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

// margin bottom

.mb-6 {
    margin-bottom: 6px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-33 {
    margin-bottom: 33px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-58 {
    margin-bottom: 58px;
}

.mb-80 {
    margin-bottom: 80px;
}

// margin left

.ml-15 {
    margin-left: 15px;
}

// padding right

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

// padding bottom

.pb-20 {
    padding-bottom: 20px;
}

// padding left

.pl-15 {
    padding-left: 15px;
}

// width

.w-160 {
    width: 160px;
}

// max width

.mx-w-120 {
    max-width: 120px;
}

.mx-w-315 {
    max-width: 315px;
}

.mx-w-500 {
    max-width: 500px;
}