<div class="container">
  <div class="section-heading">
    <h2>Book a slot</h2>
    <p>Choose an available time slot and confirm your booking.</p>
  </div>
  <div class="row">
    <div class="col-7">
      <input
        type="date"
        [min]="minDate"
        #date
        (change)="getAvailableSlots(date.value)"
      />
    </div>
    <div class="col-5 time-slot">
      <h4>Available slots</h4>
      <ng-container *ngIf="availableTimeSlots.length; else noSlotAvailable">
        <ul *ngFor="let availableTimeSlot of availableTimeSlots; let i = index">
          <li
            (click)="getSelectedTimeslots(availableTimeSlot.id, i)"
            [ngClass]="{ 'active-slot': i === selectedTimeSlotsIndex }"
          >
            {{ availableTimeSlot.start_time }} -
            {{ availableTimeSlot.end_time }}
          </li>
        </ul>
      </ng-container>
      <ng-template #noSlotAvailable>
        <p>No slot available on this day. Please select other day.</p>
      </ng-template>
    </div>
  </div>
  <div class="button-container">
    <app-button-lg (buttonClicked)="redirectTo()" class="mr-8"
      >Back</app-button-lg
    >
    <app-button-lg (buttonClicked)="bookACourse()">Submit</app-button-lg>
  </div>
</div>
