.section-content {
    margin: 10px 0 10px 0;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.time-slot {
    padding-top: 20px;
    text-align: center;
    min-height: 250px;
    background: #F9FBFC;

    li {
        cursor: pointer;
        list-style-type: none;
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 5px 0px
    }

    li:last-child {
        margin: 0;
    }
}

.active-slot {
    color: #AC0236;
    border: 1px solid #AC0236 !important;
}