@import 'src/assets/scss/partials/variables';

.primary-section {
    padding: 40px;
    background-color: $bg-gray-color;
    margin: 0 50px;
}

.primary-right-part img {
    width: 389px;
    height: 450px;
}

.primary-left-part {
    row-gap: 70px;
}

.primary-left-part h1 {
    font-family: $georgia;
    font-size: 3.125rem;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 112%;
    letter-spacing: 0.01em;
    color: $light-black;
}

.primary-left-part p {
    font-size: 1.25rem;
    color: $paragraph-color;
    width: 70%;
    font-weight: 400;
    line-height: 147%;
}

.primary-left-part-2 form,
.primary-left-part-2 form>div:nth-child(2) {
    column-gap: 12px;
    row-gap: 10px;
}

.primary-left-part-2 input {
    width: 300px;
    height: 50px;
    border-radius: 100px;
    padding: 0 10px 0 40px;
    font-size: 0.875rem;
    border: 1px solid $inputbar-border-clr;
}

.primary-left-part-2 input:focus {
    border: 1px solid $inputbar-border-clr;

}

.primary-left-part-2 input[type=search] {
    outline-offset: unset;
}

.primary-left-part-2 form button:hover {
    opacity: 0.8;
    background-color: $red;
}

.mega-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(42, 44, 48, 0.4);
    box-shadow: 0px 3px 10px rgb(0 0 0 / 25%);
    width: 610px;
    margin-top: 5px;
    /* position: absolute; */
}

.mega-menu ul {
    padding: 20px;
    margin: 0px;
}

.mega-menu ul a {
    column-gap: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 107.7%;
    color: #2A2C30;
    text-decoration: none;
}

.mega-menu ul li:hover {
    opacity: 0.8;
    background-color: $bg-gray-color;
}


.mega-menu ul a img {
    width: 15px;
    height: 15px;
}

.mega-menu ul li {
    /* column-gap: 40px;
    padding: 10px; */
    list-style: none;
    padding: 10px;
}

.primary-left-part-3 h4 {
    font-size: 1.25rem;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 107%;
    color: $paragraph-color;
}

.close-mega-menu {
    padding: 10px 15px;
}

.active-sm-device {
    display: none;
}


.avlble-institutes {
    margin: 40px 50px;
}

.inputbar img {
    position: absolute;
    padding: 10px;
}

.active-lg-device {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    padding: 0 20px;
    background-color: $red;
    color: $white;
    font-size: 0.875rem;
    border: none;
}



/* 
.inputbar {
  align-items: center;
    display: flex; 
}*/

.brand-list {
    list-style: none;
    padding: 0;
}

.brand-list img {
    height: 30px;
}

.avlble-institutes .card-img {
    border: 1px solid $img-border-clr;
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .primary-right-part {
        display: none;
    }

    .position-top {
        top: 45%;
    }
}

@media only screen and (min-width:1px) and (max-width:768px) {

    .primary-left-part {
        row-gap: 25px;
    }

    .primary-left-part-2 input {
        padding: 18px 26px 18px 40px;
        font-size: 0.875rem;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 107%;
        width: 278px;
        height: 50px;
        border-radius: 102px;
    }

    .inputbar img {
        position: absolute;
        padding: 10px;
        width: 42px;
    }

    .mega-menu ul a {
        font-size: 12px;
    }

    .mega-menu {
        width: 100%;
    }

    .position-top {
        top: 45%;
    }

    .mega-menu ul a img {
        width: 13px;
        height: 13px;
    }

    .mega-menu ul {
        padding: 10px;
    }

    .mega-menu ul li {
        padding: 8px;
    }

    .primary-left-part-3 h4 {
        font-weight: 600;
        font-size: 0.813rem;
        line-height: 107%;
    }

    .brand-list {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
    }

    .brand-list img {
        height: 25px;
    }

    .primary-right-part {
        display: none;
    }

    .inputbar input {
        width: 250px;
        height: 50px;
        border-radius: 102px;
    }

    .primary-left-part h1 {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 112.2%;
        letter-spacing: 0.01em;
        color: $light-black;
    }

    .primary-left-part p {
        font-weight: 400;
        font-size: 0.813rem;
        line-height: 147.7%;
        width: unset;
    }

    .primary-section {
        padding: 10px;
        margin: 15px !important;
    }

    .right-section {
        display: none;
    }

    .active-lg-device {
        display: none;
    }

    .active-sm-device {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        background-color: $red;
        color: $white;
        font-size: 0.875rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}