<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="home-container">
          <div class="home-heading-section">
            <h2>Lets find a desired course for you</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              soluta?
            </p>
          </div>
          <div class="search-container">
            <input
              type="text"
              #searchCourse
              (keyup)="searchCourses(searchCourse.value)"
            />

            <input
              type="text"
              #searchLocation
              (keyup)="searchCity(searchLocation.value)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
