<div class="container">
  <div class="profile-container">
    <h2 class="section-heading">My Profile</h2>
    <ul class="nav nav-items">
      <li
        class="nav-item"
        routerLink="/profile"
        routerLinkActive="item-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        My Profile
      </li>
      <li
        class="nav-item"
        routerLink="/profile/completed-courses"
        routerLinkActive="item-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Courses Completed
      </li>
      <li
        class="nav-item"
        routerLink="/profile/information"
        routerLinkActive="item-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Information
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
