<div class="main-container">
  <div class="my-profile-header">
    <h2>My Profile</h2>

    <nav>
      <ul class="d-flex flex-row">
        <li
          routerLink="/profile"
          routerLinkActive="my-profile-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          My courses
        </li>
        <li
          routerLink="/profile/completed-courses"
          routerLinkActive="my-profile-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Completed courses
        </li>
        <li
          routerLink="/profile/information"
          routerLinkActive="my-profile-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Information
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
